{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{form|crispy}}
<input type="submit" class='btn btn-success' value="login">
<a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>

</form>

{% endblock %}