{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Change Password</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice
        so we can verify you tiped it in correctly.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Confirm</button>
        <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
    </form>
{% endblock %}