{% extends "base.html" %}

{% block title %}Delete this category{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.title }}"?</p>
        <button class="btn btn-danger" type="submit">Confirm</button>
        <a href="{% url 'list_todo' category.pk %}" class="btn btn-primary">Cancel</a>
    </form>
{% endblock %}