{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Category{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Create</button>
    </form>


{% endblock %}