{% extends 'base.html' %}

{% block extra_nav %}
{% if object_list %}
<li class="nav-item">
        <a class="nav-link" href="{% url 'new_todo' %}">+ New To-Do</a>
</li>
{% endif %}
{% endblock extra_nav%}

{% block content %}
    {% if object_list %}
        <a href="{% url 'new_category' %}" class="btn btn-success mb-3">New Category</a>
        <h1 class="mb-3">Categories</h1>
        <p>{{ Todo_count }} tasks in {{ Cat_count }} category.</p>
        {% for category in object_list %}
        <div class="list-group">
            <a href="{% url 'list_todo' category.pk %}" type="button" class="list-group-item list-group-item-action mb-1">
                {{ category.title }}
                <span class="badge badge-primary badge-pill ml-2">{{ category.todo_set.count }}</span>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <h1 class="display-2">Empty</h1>
        <p class="mt-2">There aren't categories or tasks. Click New Category to add a Category.</p>
        <a href="{% url 'new_category' %}" class="btn btn-success mb-3">New Category</a>
    {% endif %}
{% endblock %}