{% extends "base.html" %}
{% block title %}Completed TODOs{% endblock %}

{% block content %}
<h1 class='mb-3'>Tasks completed in ({{category}})</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Owner</th>
            <th scope="col">Created</th>
            <th scope="col">Completed</th>
            <th scope="col">Mark</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in object_list %}
        {% if todo.completed %}
            <tr>
                <td><a href="{% url 'detail_todo' todo.pk %}">{{ todo.title }}</a></td>
                <td>{{ todo.author }}</td>
                <td>{{ todo.created }}</td>
                <td>{{ todo.completed_date }}</td>
                <td>
                    <form method="POST" action="{% url 'todo_done' todo.id %}" role="form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">Undone</button>
                    </form>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<a href='{% url "list_todo" category.pk %}' class="btn btn-danger">Back to Tasks</a>
{% endblock %}