{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.title }}" by {{ object.author }} ?</p>
        <button type='submit' class="btn btn-danger" type="submit">Confirm</button>
        <a href="{% url 'detail_todo' todo.pk %}" class="btn btn-primary">Cancel</a>
    </form>
{% endblock %}