{% extends "base.html" %}
{% block title %}Detail Todo{% endblock %}

{% block content %}
    <a href="{% url 'list_todo' todo.category.pk %}" class="btn btn-success mb-3">Back to Task List</a>
    <h1>{{ todo.title }}</h1>
    <p>{{ todo.text }}</p>
    <p><strong>Author:</strong> {{ todo.author }}</p>
    <p><strong>Created:</strong> {{ todo.created }}</p>
    {% if todo.completed %}<p><strong>Completed:</strong> {{ todo.completed_date }}</p>{% endif %}
    <a href="{% url 'update_todo' todo.pk %}" class="btn btn-primary">Edit Task</a>
    {% if todo.completed %}
        <a href="{% url 'todo_done' todo.pk %}" class="btn btn-info">Mark Not Done</a>
    {% else %}
        <a href="{% url 'todo_done' todo.pk %}" class="btn btn-info">Mark Done</a>
    {% endif %}
    <a href="{% url 'delete_todo' todo.pk todo.category.id %}" class="btn btn-danger">Delete</a>
{% endblock %}