{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-1">Todo App</h1>
        <p class="lead">A Todo website built in Django.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'list_category' %}" role="button">See all Categories</a>
    </div>

{% endblock %}