{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New To-Do{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-success" type="submit">Save</button>
        {% if category %}
            <a href="{% url 'list_todo' category %}" class="btn btn-danger">Cancel</a>
        {% else %}
            <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
        {% endif %}
    </form>
{% endblock %}

