{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Confirm</button>
    </form>
{% endblock %}