{% extends 'base.html' %}

{% block extra_nav %}
    {% if object_list %}
    <li class="nav-item">
            <a class="nav-link" href="{% url 'new_todo' %}">+ New To-Do</a>
    </li>
    {% endif %}
{% endblock extra_nav%}

{% block content %}
<a href="{% url 'new_todo_category' category.pk %}" class="btn btn-success mb-3">Add new task</a>
<h1 class='mb-3'>Tasks in ({{category}})</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Owner</th>
            <th scope="col">Created</th>
            <th scope="col">Mark</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in object_list %}
        {% if todo.completed %}

        {% else %}
        <tr>
            <td><a href="{% url 'detail_todo' todo.pk %}">{{ todo.title }}</a></td>
            <td>{{ todo.author }}</td>
            <td>{{ todo.created }}</td>
            <td>
                <form method="POST" action="{% url 'todo_done' todo.id %}" role="form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Done</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<a href='{% url "completed_todo" category.pk %}' class="btn btn-warning">Tasks completed</a>
<a href="{% url 'delete_category' category.pk %}" class="btn btn-danger">Delete this list</a>

{% endblock %}