{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update To-Do{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Update</button>
        <a href="{% url 'detail_todo' todo.pk %}" class="btn btn-danger">Cancel</a>
    </form>
{% endblock %}
